<div class="centered">
    <button (click)="getProjects()">Generate Random Project</button>
    <div class="project" *ngIf="(isShow)">
        <div class="shortDesc">
            <span>Build A </span>{{projects.type}}
            <span> app that </span> {{projects.tagline}}
        </div>
        <br>
        <div class="longDesc">
            <span>The Project Should </span>{{projects.full_desc}}
        </div>
        <div>
            <span>Helpful Tech Stack Documentation </span>{{projects.stack}}
        </div>
    </div>
</div>
