<div class="generateButton"><button (click)="GenerateProject()">Generate Random Project</button>
    <span>The number is: </span>{{valued}}
</div>
<div class="project">
    <div class="shortDesc">
        <span>Build A </span>{{project.type}}
        <span> app that </span> {{project.tag}}
    </div>
    <br>
    <div class="longDesc">
        <span>The Project Should </span>{{project.description}}
    </div>
    <div>
        <span>Helpful Tech Stack Documentation </span>{{project.stack}}
    </div>
</div>
